@model BaLogisticsSystem.Models.ShipmentViewModel

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%;
        overflow: hidden;
    }

        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
</style>

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>
                Informacija apie siuntą <small>@Model.Title</small>
            </h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group-vertical pull-right">
            <a href="@Url.Action("Edit", new { id = Model.IdShipment })" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Redaguoti informaciją</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Siuntos kodas</dt>
            <dd style="color: red">@Html.DisplayFor(model => model.IdShipment)</dd>

            <dt>@Html.DisplayNameFor(model => model.Title)</dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>

            <dt>@Html.DisplayNameFor(model => model.Created)</dt>
            <dd>@Html.DisplayFor(model => model.Created)</dd>

            <dt>@Html.DisplayNameFor(model => model.LastUpdate)</dt>
            <dd>@Html.DisplayFor(model => model.LastUpdate)</dd>

            <dt>@Html.DisplayNameFor(model => model.Latitude)</dt>
            <dd>@Html.DisplayFor(model => model.Latitude)</dd>

            <dt>@Html.DisplayNameFor(model => model.Longitude)</dt>
            <dd>@Html.DisplayFor(model => model.Longitude)</dd>

            <dt>@Html.DisplayNameFor(model => model.Status)</dt>
            <dd>@Html.DisplayFor(model => model.Status)</dd>

            <dt>@Html.DisplayNameFor(model => model.StartTime)</dt>
            <dd>@Html.DisplayFor(model => model.StartTime)</dd>

            <dt>@Html.DisplayNameFor(model => model.EndTime)</dt>
            <dd>@Html.DisplayFor(model => model.EndTime)</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <iframe frameborder="0" style="border: 0" height="440" width="600"
                src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCqUDmEqidBzU8TXnFtA-qUD4pftESr4BE&center=@(Model.Longitude.ToString().Replace(",", ".")),@(Model.Latitude.ToString().Replace(",", "."))&zoom=15"></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Transakcijų istorija</h1>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Kodas</th>
                        <th>Statusas</th>
                        <th>@Html.DisplayNameFor(model => model.Longitude)</th>
                        <th>@Html.DisplayNameFor(model => model.Latitude)</th>
                        <th>Išsaugota</th>
                        <th>Atsakingas asmuo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transactions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTransaction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Longitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.IdPerson)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>