@model IEnumerable<BaLogisticsSystem.Models.ShipmentViewModel>

@{
    ViewBag.Title = "Siuntos";
}


<div class="row">
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-2" style="margin-top: 22px;">
        <a href="@Url.Action("Create")" type="button" class="btn btn-primary pull-right">Pridėti siuntą</a>
    </div>
</div>
<div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Paslaugos pavadinimas</th>
            <th>Statusas</th>
            <th>Sukurta</th>
            <th>Atnaujinta</th>
            <th>Veiksmai</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td width="10%">
                    @Html.ActionLink("Peržiūrėti", "Details", new { id = item.IdShipment })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>