@model BaLogisticsSystem.Models.ServiceViewModel

@{
    ViewBag.Title = Model.Title;
}
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>
                Informacija apie <small>@Model.Title</small>
            </h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group-vertical pull-right">
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Redaguoti informaciją</button>
        </div>
    </div>
</div>

<dl class="dl-horizontal">
    <dt>Paslaugos kodas</dt>
    <dd style="color: red">@Html.DisplayFor(model => model.IdService)</dd>
    <dt>@Html.DisplayNameFor(model => model.Title)</dt>
    <dd>@Html.DisplayFor(model => model.Title)</dd>
    @if (Model.Organization != null)
    {
        <dt>Organizacija</dt>
        <dd>@Html.DisplayFor(model => model.Organization.Name)</dd>
    }
</dl>
<br />
<div class="row">
    <div class="col-md-8">
        <h1>Siuntos</h1>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Paslaugos pavadinimas</th>
                        <th>Statusas</th>
                        <th>Sukurta</th>
                        <th>Atnaujinta</th>
                        <th>Veiksmai</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Shipments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdate)
                            </td>
                            <td width="10%">
                                @Html.ActionLink("Peržiūrėti", "Details", "Shipment", new { id = item.IdShipment }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
