@model List<BaLogisticsSystem.Models.PersonEntity>

@{
    ViewBag.Title = "Vartotojai";
}

<div class="row">
    <div class="col-md-10">
        <h2>Vartotojai</h2>
    </div>
    <div class="col-md-2" style="margin-top: 22px;">
        <a href="@Url.Action("Create")" type="button" class="btn btn-primary pull-right">Pridėti vartotoją</a>
    </div>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Vartotojo vardas</th>
                <th>E. paštas</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td width="10%">
                        @Html.ActionLink("Peržiūrėti", "Details", new { id = item.IdPerson })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
